<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContacServlet</servlet-name>
        <servlet-class>ContacServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index2Servlet</servlet-name>
        <servlet-class>Index2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensServlet</servlet-name>
        <servlet-class>MensServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleServlet</servlet-name>
        <servlet-class>SingleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WomensServlet</servlet-name>
        <servlet-class>WomensServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContacServlet</servlet-name>
        <url-pattern>/ContacServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index2Servlet</servlet-name>
        <url-pattern>/Index2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensServlet</servlet-name>
        <url-pattern>/MensServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleServlet</servlet-name>
        <url-pattern>/SingleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WomensServlet</servlet-name>
        <url-pattern>/WomensServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
